/FormsDataManagementAPI/obj
/FormsDataManagementAPI/[Bb]in/
/FormsDataManagementAPI/Properties/launchSettings.json
/FormsDataManagementAPI.Tests/obj
/FormsDataManagementAPI.Tests/[Bb]in/
/TokenGenerator/obj
/TokenGenerator/[Bb]in/
