# Exclude build outputs for ALL projects in the repository
**/[Bb]in/
**/[Ob]j/

# Exclude local launch settings for any API or Web project
**/Properties/launchSettings.json

# Ignore local VS Code configurations
.vscode/

# Ignore macOS folder metadata files
.DS_Store
**/.DS_Store
